@model Servicies.Teachers.Dto.TeacherDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt>
            <label asp-for="FirstName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="FirstName">@Model.FirstName</label>
        </dd>
        <dt>
            <label asp-for="LastName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="LastName">@Model.LastName</label>
        </dd>
        <dt>
            <label asp-for="FullName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="FullName">@Model.FullName</label>
        </dd>
        <dt>
            <label asp-for="HireDate"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="HireDate">@Model.HireDate</label>
        </dd>
        <dt>
            <label asp-for="Age"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Age">@Model.Age</label>
        </dd>
        <dt>
            <label asp-for="City"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="City">@Model.City</label>
        </dd>
        <dt>
            <label asp-for="Email"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Email">@Model.Email</label>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
