@model IEnumerable<Servicies.Teachers.Dto.TeacherDto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().FullName"></label>
            </th>
            <th>
                <label asp-for="@Model.First().HireDate"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Age"></label>
            </th>
            <th>
                <label asp-for="@Model.First().City"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Email"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label asp-for="@item.FullName">@item.FullName</label>
                </td>
                <td>
                    <label asp-for="@item.HireDate">@item.HireDate</label>
                </td>
                <td>
                    <label asp-for="@item.Age">@item.Age</label>
                </td>
                <td>
                    <label asp-for="@item.City">@item.City</label>
                </td>
                <td>
                    <label asp-for="@item.Email">@item.Email</label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
