@model IEnumerable<Servicies.OfficeAssignments.Dto.OfficeAssignmentsDto>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Teacher"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Location"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label asp-for="@item.Teacher.FullName">@item.Teacher.FullName</label>
                </td>
                <td>
                    <label asp-for="@item.Location">@item.Location</label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
