@model Servicies.Students.Dto.StudentDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreAverage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreAverage)
        </dd>
    </dl>
</div>
<!DOCTYPE html>
<h5>List of courses</h5>
<html>
<body>
    <table class="table">
        <tbody>
            @foreach (var item in Model.CoursesList)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => item.Credits)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Credits)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h5>List of grades</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.GradesList)
            {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Score)
                </td>
                <td>
                    @Html.DisplayNameFor(model => item.DateOfTheGrade)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateOfTheGrade)
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
