@model Servicies.Students.Dto.StudentDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt>
            <label asp-for="FirstName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="FirstName">@Model.FirstName</label>
        </dd>
        <dt>
            <label asp-for="LastName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="LastName">@Model.LastName</label>
        </dd>
        <dt>
            <label asp-for="FullName"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="FullName">@Model.FullName</label>
        </dd>
        <dt>
            <label asp-for="DateOfBirth"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="DateOfBirth">@Model.DateOfBirth</label>
        </dd>
        <dt>
            <label asp-for="EnrollmentDate"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="EnrollmentDate">@Model.EnrollmentDate</label>
        </dd>
        <dt>
            <label asp-for="Age"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Age">@Model.Age</label>
        </dd>
        <dt>
            <label asp-for="City"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="City">@Model.City</label>
        </dd>
        <dt>
            <label asp-for="Email"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Email">@Model.Email</label>
        </dd>
        <dt>
            <label asp-for="ScoreAverage"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="ScoreAverage">@Model.ScoreAverage</label>
        </dd>
    </dl>
</div>
<!DOCTYPE html>
<h5>List of courses</h5>
<html>
<body>
    <table class="table">
        <tbody>
            @foreach (var item in Model.CoursesList)
            {
            <tr>
                <td>
                    <label asp-for="@item.Title">@item.Title</label>
                </td>
                <td>
                    <label asp-for="@item.Credits">@item.Credits</label>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <h5>List of grades</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.GradesList)
            {
            <tr>
                <td>
                    <label asp-for="@item.Score">@item.Score</label>
                </td>
                <td>
                    <label asp-for="@item.DateOfTheGrade">@item.DateOfTheGrade</label>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
