@model IEnumerable<Servicies.Grades.Dto.GradeDto>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Score"></label>
            </th>
            <th>
                <label asp-for="@Model.First().DateOfTheGrade"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label asp-for="@item.Score">@item.Score</label>
            </td>
            <td>
                <label asp-for="@item.DateOfTheGrade">@item.DateOfTheGrade</label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
