@model Servicies.Departments.Dto.DepartmentDetailDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Name"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Name">@Model.Name</label>
        </dd>
        <dt>
            <label asp-for="Budget"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Budget">@Model.Budget</label>
        </dd>
        <dt>
            <label asp-for="StartDate"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="StartDate">@Model.StartDate</label>
        </dd>
        <dt>
            <label asp-for="Teacher"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Teacher.FullName">@Model.Teacher.FullName</label>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
