@model Servicies.Courses.Dto.CourseDetailDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt>
            <label asp-for="Title"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Title">@Model.Title</label>
        </dd>
        <dt>
            <label asp-for="NumberOfStudents"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="NumberOfStudents">@Model.NumberOfStudents</label>
        </dd>
        <dt>
            <label asp-for="Credits"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Credits">@Model.Credits</label>
        </dd>
        <dt>
            <label asp-for="Department"></label>
        </dt>
        <dd style="color:yellowgreen">
            <label asp-for="Department.Name">@Model.Department.Name</label>
        </dd>
    </dl>
</div>

<!DOCTYPE html>
<html>
<body>
    <h5>List of teachers</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.TeachersList)
            {
            <tr>
                <td>
                    <label asp-for="@item.FullName">@item.FullName</label>
                </td>
                <td>
                    <label asp-for="@item.HireDate">@item.HireDate</label>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <h5>List of students</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.StudentsList)
            {
            <tr>
                <td>
                    <label asp-for="@item.FullName">@item.FullName</label>
                </td>
                <td>
                    <label asp-for="@item.EnrollmentDate">@item.EnrollmentDate</label>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
