@model Servicies.Courses.Dto.CourseDetailDto

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>

<!DOCTYPE html>
<html>
<body>
    <h5>List of teachers</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.TeachersList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.HireDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <h5>List of students</h5>
    <table class="table">
        <tbody>
            @foreach (var item in Model.StudentsList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EnrollmentDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="List">Back to List</a>
</div>
