@model IEnumerable<Servicies.Courses.Dto.CourseDetailDto>

@{
    ViewData["Title"] = "List";
}

<h1>Course List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.First().Title"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Credits"></label>
            </th>
            <th>
                <label asp-for="@Model.First().NumberOfStudents"></label>
            </th>
            <th>
                <label asp-for="@Model.First().Department"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <label asp-for="@item.Title">@item.Title</label>
            </td>
            <td>
                <label asp-for="@item.Credits">@item.Credits</label>
            </td>
            <td>
                <label asp-for="@item.NumberOfStudents">@item.NumberOfStudents</label>
            </td>
            <td>
                <label asp-for="@item.Department.Name">@item.Department.Name</label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
