@model IEnumerable<Servicies.ClassRooms.Dto.ClassRoomDto>

@{
    ViewData["Title"] = "ClassList";
}

<!DOCTYPE html>
<a asp-action="Create" value="Create" class="btn btn-primary">Create</a>

<html>
<head>
    <title>Class List</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfStudents)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfStudents)
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.Id })
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
