@model Servicies.ClassRooms.Dto.ClassRoomDetailDto

@{
    ViewData["Title"] = "StudentsFromAClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameClass)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => modelItem.NameClass)
                </th>
            </tr>
        </thead>
        <tbody>
            <h3>Students from a class</h3>
            @foreach (var item in Model.Users)
            {
        <tr>
            <td>
                @Html.DisplayNameFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstName)
            </td>
            <td>
                @Html.DisplayNameFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastName)
            </td>
            <td>
                @Html.DisplayNameFor(model => item.Score)
            </td>
            <td>
                @Html.DisplayFor(model => item.Score)
            </td>
        </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Add user in class", "AddUserToClass", new { id = Model.Id })
</body>
</html>
