@model Servicies.Users.Dto.UserDto

@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Information about user</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBitrh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBitrh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dt>
    </dl>
</div>

<!DOCTYPE html>
<h3>List of classes</h3>
<html>
<body>
    <table class="table">
        <tbody>
            @foreach (var item in Model.ClassRoomList)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => item.NameClass)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.NameClass)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
<a asp-action="Home">Back to Home</a>

